.container {
  background-color: #00000000;
  transition: color 300ms, border 100ms;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
  color: rgb(45, 45, 45);
  display: flex;
  flex-flow: column nowrap;

  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.container hr {
  width: 0;
  visibility: hidden;
  height: 3px;
  background-color: var(--color-secondary);
  border: none;
  transition-duration: 300ms;
}

.container:hover hr,
.container:hover.active {
  visibility: visible;
  width: 100%;
}
