.container {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  margin-inline: auto;
  padding-top: 2rem;
}

.container .body {
  width: min(calc(100% - 2rem), var(--inner-max-width));
  margin-inline: auto;
}

.sizeNotSupported {
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }

  .sizeNotSupported {
    display: flex;
  }
}
