.container {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  align-items: center;
}

.navItems {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.cta {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;

  border: 2px solid var(--color-secondary);
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
  white-space: nowrap;
  transition: all 300ms;
}

.cta:hover {
  background-color: var(--color-secondary);
}
